<div class="new-group mx-auto flex flex-col w-3/5  items-center content-center justify-center lg:container">
    <h2 class="text-center p-2 w-screen text-gray-600 bg-green-100 font-black leading-9" >Create New Group</h2>
    <%= render 'form', group: @group %>
</div>
