<div class="group-transaction">
    <h2 class="text-center p-2 text-gray-600 font-black bg-green-100"><%= @current_group.name %></h2>
    <h2 class="text-center p-2 w-screen text-gray-600 font-medium leading-9" > New <%= @current_group.name %> Transaction</h2>
    <div class="form">
        <%= render 'form', transaction: @current_transaction %>
    </div>
</div>