<div class="unsign-user flex justify-between  w-9/10">
    <div class="flex flex-no-shrink items-center mr-6 py-3 text-grey-darkest">
        <svg class="fill-current h-8 mr-2 w-8" xmlns="http://www.w3.org/2000/svg" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5" clip-rule="evenodd" viewBox="0 0 716 895">
          <path d="M357.776 0l357.77 178.885v536.657l-357.77 178.89L0 715.542V178.885"></path>
          <path class="text-white fill-current" d="M357.776 804.982l268.32-134.16v-178.89l-89.44-44.72 89.44-44.72V223.606L357.776 89.442v626.1l-178.89-89.44V178.885l-89.443 44.721v447.216l268.333 134.16z"></path>
          <path d="M447.216 670.822l89.44-44.72v-89.45l-89.44-44.72v178.89zM447.216 402.492l89.44-44.721v-89.443l-89.44-44.722"></path>
        </svg>
        <span class="font-semibold text-xl tracking-tight">CoinKeep</span>
      </div>
      <div class="panel self-center flex gap-3">
          <%= link_to 'Sign In', new_user_session_path , class:'mr-5 bg-blue-300 rounded p-2 text-gray-700' %>
          <%= link_to 'Create an account ', new_user_registration_path, class:'mr-5 bg-blue-300 rounded p-2 text-gray-700' %>
      </div>
</div>