<div class="main-screen h-full w-full bg-gray-100 ">
    <%=  show_chart  %>
    <%= render 'shared/transactions', transactions: @recent_transactions %>
    <%= link_to 'create a new transactions', new_transaction_path, class: ' p-3 text-gray-50 bottom-5 rounded-3xl right-5 fixed add-btn'  %>

</div>
