<div class="external-transactions flex flex-col divide-y-4 divide-blue-300 divide-dashed bg-gray-100  h-screen ">
  <div
    class="p-2 text-gray-600  heading flex flex-row justify-evenly"
  >
    <h2 class="text-center p-2 text-gray-600  font-black leading-9">
      My External Transactions
    </h2>
    <h2 class="text-center font-bold self-center">
      Total: $ <%= @external_total %> USD
    </h2>
</div>
<%= render 'shared/transactions', transactions: @external_transactions %>
</div>
<%= link_to 'Add new', new_transaction_path, class: ' p-3 text-gray-50 bottom-5 rounded-3xl right-5 fixed add-btn' %>
