<div class="transactions-index ">
    <div class="p-2 text-gray-600 bg-green-100 heading flex flex-row justify-evenly ">
        <h2 class="text-center font-bold">All Transactions</h2>
        <h2 class=" text-center font-bold">Total: $ <%= @total %> USD </h2>

    </div>
    <%= render 'shared/transactions', transactions: @transactions  %>
    <%= link_to 'Add new', new_transaction_path, class: 'transition delay-1000 ease-linear animate-bounce p-3 text-gray-500 bottom-5 rounded-3xl right-5 fixed bg-green-100' %>
</div>