
  <div
    class="transactions-index h-screen divide-y-4 divide-blue-300 divide-dashed bg-gray-100"
  >
    <div class="p-2 text-gray-600 heading flex flex-row justify-evenly">
      <h2 class="text-center font-bold">All Transactions</h2>
      <h2 class="text-center font-bold">Total: $ <%= @total %> USD</h2>
    </div>
    <%= render 'shared/transactions', transactions: @transactions %>
  </div>
  <%= link_to 'Add new', new_transaction_path, class: ' p-3 text-gray-50
  bottom-5 rounded-3xl right-5 fixed add-btn' %>
